<div class="thq-section-padding">
  <div class="testimonial17-max-width thq-section-max-width">
    <div class="testimonial17-container10">
      <h2 class="thq-heading-2">
        <ng-container>
          <ng-template #defaultHeading1>
            <div class="testimonial17-fragment21">
              <span class="testimonial17-text35">Testimonials</span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="heading1 ? heading1 : defaultHeading1"
          ></ng-container>
        </ng-container>
      </h2>
      <span class="testimonial17-text11 thq-body-small">
        <ng-container>
          <ng-template #defaultContent1>
            <div class="testimonial17-fragment18">
              <span class="testimonial17-text32">
                Swasth Saarthi has been a lifesaver for me and my family. I can
                now consult with doctors without traveling long distances,
                saving time and money. The AI symptom checker is incredibly
                accurate, and the medicine delivery service is a blessing.
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="content1 ? content1 : defaultContent1"
          ></ng-container>
        </ng-container>
      </span>
    </div>
    <div class="thq-grid-2">
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card1">
            <div class="testimonial17-container12">
              <img
                [attr.alt]="author1Alt"
                [attr.src]="author1Src"
                class="testimonial17-image1"
              />
              <div class="testimonial17-container13">
                <strong class="thq-body-large">
                  <ng-container>
                    <ng-template #defaultAuthor1Name>
                      <div class="testimonial17-fragment12">
                        <span class="testimonial17-text26">Rajesh Patel</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author1Name ? author1Name : defaultAuthor1Name"
                    ></ng-container>
                  </ng-container>
                </strong>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultAuthor1Position>
                      <div class="testimonial17-fragment11">
                        <span class="testimonial17-text25">Farmer</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author1Position ? author1Position : defaultAuthor1Position"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
            <span class="testimonial17-text14 thq-body-small">
              <ng-container>
                <ng-template #defaultReview1>
                  <div class="testimonial17-fragment20">
                    <span class="testimonial17-text34">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim in eros elementum tristique. Duis
                      cursus, mi quis viverra ornare, eros dolor interdum nulla.
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="review1 ? review1 : defaultReview1"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card2">
            <div class="testimonial17-container14">
              <img
                [attr.alt]="author2Alt"
                [attr.src]="author2Src"
                class="testimonial17-image2"
              />
              <div class="testimonial17-container15">
                <strong class="thq-body-large">
                  <ng-container>
                    <ng-template #defaultAuthor2Name>
                      <div class="testimonial17-fragment15">
                        <span class="testimonial17-text29">Sunita Devi</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author2Name ? author2Name : defaultAuthor2Name"
                    ></ng-container>
                  </ng-container>
                </strong>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultAuthor2Position>
                      <div class="testimonial17-fragment10">
                        <span class="testimonial17-text24">Teacher</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author2Position ? author2Position : defaultAuthor2Position"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
            <span class="testimonial17-text17 thq-body-small">
              <ng-container>
                <ng-template #defaultReview2>
                  <div class="testimonial17-fragment14">
                    <span class="testimonial17-text28">
                      As a teacher in a remote village, accessing healthcare was
                      always a challenge. Swasth Saarthi has made it convenient
                      for me to seek medical advice and get prescriptions
                      delivered to my doorstep. The mental wellness chatbot has
                      also helped me manage stress better.
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="review2 ? review2 : defaultReview2"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card3">
            <div class="testimonial17-container16">
              <img
                [attr.alt]="author3Alt"
                [attr.src]="author3Src"
                class="testimonial17-image3"
              />
              <div class="testimonial17-container17">
                <strong class="thq-body-large">
                  <ng-container>
                    <ng-template #defaultAuthor3Name>
                      <div class="testimonial17-fragment13">
                        <span class="testimonial17-text27">Amit Kumar</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author3Name ? author3Name : defaultAuthor3Name"
                    ></ng-container>
                  </ng-container>
                </strong>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultAuthor3Position>
                      <div class="testimonial17-fragment19">
                        <span class="testimonial17-text33">
                          Local Shop Owner
                        </span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author3Position ? author3Position : defaultAuthor3Position"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
            <span class="testimonial17-text20 thq-body-small">
              <ng-container>
                <ng-template #defaultReview3>
                  <div class="testimonial17-fragment22">
                    <span class="testimonial17-text36">
                      I never thought I could receive quality healthcare
                      services from the comfort of my shop until I discovered
                      Swasth Saarthi. The telemedicine consultations have been
                      prompt and effective, and the multi-language support is a
                      game-changer for our community.
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="review3 ? review3 : defaultReview3"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card4">
            <div class="testimonial17-container18">
              <img
                [attr.alt]="author4Alt"
                [attr.src]="author4Src"
                class="testimonial17-image4"
              />
              <div class="testimonial17-container19">
                <strong class="thq-body-large">
                  <ng-container>
                    <ng-template #defaultAuthor4Name>
                      <div class="testimonial17-fragment17">
                        <span class="testimonial17-text31">Priya Singh</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author4Name ? author4Name : defaultAuthor4Name"
                    ></ng-container>
                  </ng-container>
                </strong>
                <span class="thq-body-small">
                  <ng-container>
                    <ng-template #defaultAuthor4Position>
                      <div class="testimonial17-fragment16">
                        <span class="testimonial17-text30">Social Worker</span>
                      </div>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="author4Position ? author4Position : defaultAuthor4Position"
                    ></ng-container>
                  </ng-container>
                </span>
              </div>
            </div>
            <span class="testimonial17-text23 thq-body-small">
              <ng-container>
                <ng-template #defaultReview4>
                  <div class="testimonial17-fragment23">
                    <span class="testimonial17-text37">
                      Working with marginalized communities, I have seen
                      firsthand the impact of Swasth Saarthi in bridging the
                      healthcare gap. The platform&apos;s integration with
                      government programs ensures that even the most vulnerable
                      populations have access to essential medical services.
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="review4 ? review4 : defaultReview4"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
