<div class="steps2-container1 thq-section-padding">
  <div class="steps2-max-width thq-section-max-width">
    <div class="steps2-container2 thq-grid-2">
      <div class="steps2-section-header">
        <h2 class="thq-heading-2">Discover the Power of Our Products</h2>
        <p class="thq-body-large">
          Experience innovation and quality like never before. Our products are
          designed to deliver exceptional performance, reliability, and value.
          Whether you’re looking for everyday solutions or advanced features, we
          have exactly what you need to make life easier and better.
        </p>
        <div class="steps2-actions">
          <button class="thq-button-animated thq-button-filled steps2-button">
            <span class="thq-body-small">Main action</span>
          </button>
        </div>
      </div>
      <div class="steps2-container3">
        <div class="steps2-container4 thq-card">
          <h2 class="thq-heading-2">
            <ng-container>
              <ng-template #defaultStep1Title>
                <div class="steps2-fragment5">
                  <span class="steps2-text29">
                    Sign up on Swasth Saarthi platform
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step1Title ? step1Title : defaultStep1Title"
              ></ng-container>
            </ng-container>
          </h2>
          <span class="steps2-text14 thq-body-small">
            <ng-container>
              <ng-template #defaultStep1Description>
                <div class="steps2-fragment1">
                  <span class="steps2-text25">
                    Create an account using your mobile number and basic details
                    to access our telehealth services.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step1Description ? step1Description : defaultStep1Description"
              ></ng-container>
            </ng-container>
          </span>
          <label class="steps2-text15 thq-heading-3">01</label>
        </div>
        <div class="steps2-container5 thq-card">
          <h2 class="thq-heading-2">
            <ng-container>
              <ng-template #defaultStep2Title>
                <div class="steps2-fragment3">
                  <span class="steps2-text27">Use AI symptom checker</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step2Title ? step2Title : defaultStep2Title"
              ></ng-container>
            </ng-container>
          </h2>
          <span class="steps2-text17 thq-body-small">
            <ng-container>
              <ng-template #defaultStep2Description>
                <div class="steps2-fragment4">
                  <span class="steps2-text28">
                    Describe your symptoms to the AI-powered tool to receive
                    preliminary health assessments.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step2Description ? step2Description : defaultStep2Description"
              ></ng-container>
            </ng-container>
          </span>
          <label class="steps2-text18 thq-heading-3">02</label>
        </div>
        <div class="steps2-container6 thq-card">
          <h2 class="thq-heading-2">
            <ng-container>
              <ng-template #defaultStep3Title>
                <div class="steps2-fragment6">
                  <span class="steps2-text30">
                    Schedule a telemedicine consultation
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step3Title ? step3Title : defaultStep3Title"
              ></ng-container>
            </ng-container>
          </h2>
          <span class="steps2-text20 thq-body-small">
            <ng-container>
              <ng-template #defaultStep3Description>
                <div class="steps2-fragment2">
                  <span class="steps2-text26">
                    Book a virtual appointment with a healthcare provider for a
                    detailed diagnosis and treatment plan.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step3Description ? step3Description : defaultStep3Description"
              ></ng-container>
            </ng-container>
          </span>
          <label class="steps2-text21 thq-heading-3">03</label>
        </div>
        <div class="steps2-container7 thq-card">
          <h2 class="thq-heading-2">
            <ng-container>
              <ng-template #defaultStep4Title>
                <div class="steps2-fragment8">
                  <span class="steps2-text32">Receive medicine delivery</span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step4Title ? step4Title : defaultStep4Title"
              ></ng-container>
            </ng-container>
          </h2>
          <span class="steps2-text23 thq-body-small">
            <ng-container>
              <ng-template #defaultStep4Description>
                <div class="steps2-fragment7">
                  <span class="steps2-text31">
                    Get your prescribed medications delivered to your doorstep
                    for convenience and timely treatment.
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="step4Description ? step4Description : defaultStep4Description"
              ></ng-container>
            </ng-container>
          </span>
          <label class="steps2-text24 thq-heading-3">04</label>
        </div>
      </div>
    </div>
  </div>
</div>
